/*
 * Keep here default css for the site theme
 */

.right-buttons-header {
	float: right;
}

.right-buttons {
	text-align: right;
}

.row div {
	display: inline-block;
}

ul {
	&.nav-tabs {
		margin-bottom: 15px;
	}
}
