<div class="page-header page-header-projects">
    <div class="right-buttons-header">
        <button ng-click="newUser()" type="button" class="btn btn-default right-buttons-header">New user</button>
    </div>
    <h1>Users</h1>
</div>

<table class="table table-projects">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="u in users"  ng-click="editUser(u)">
            <td class="cell-bold">{{u.full_name}}</td>
            <td>{{u.email}}</td></tr>
    </tbody>
</table>
