<div class="container">

  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please log in</h2>
    <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" autofocus>
    <input ng-model="user.passwd" type="password" class="form-control" placeholder="Password" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button ng-click="login(user)" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div> <!-- /container -->