<div class="page-header page-header-projects">
    <div class="right-buttons-header">

            <button class="btn btn-default" ng-click="editProject(project)">Edit</button>
            <button class="btn btn-danger" ng-click="deleteProject(project)">Delete</button>
    </div>
    <h1>Project Name{{project.name}}</h1>
</div>

<ul class="breadcrumb">
    <li><a ng-click="goToProjects()">Projects</a> <span class="divider"></span></li>
    <li class="active">{{project.name}}</li>
</ul>

<tabset>
    <tab heading="Static title">
        <tab-heading>Translations</tab-heading>
        <div class="right-buttons">
            <button class="btn btn-default" ng-click="addTranslation(project)">Add new translation</button>
            <table class="table table-languages">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Progress</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="translation in project.translations" ng-click="goToTranslation(translation)">
                        <td>
                            <a href="#">
                                <div class="progress-container">
                                    <div class="progress">
                                        <div class="bar" style="width:{{getProjectPercentage(project)}}"></div>
                                    </div>
                                </div>
                            </a>                          
                        </td>
                        <td>
                            <a href="#">
                                <span class="label label-success">status</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="Static title">
        <tab-heading>Files</tab-heading>
            <div class="right-buttons">
                <button class="btn btn-primary" ng-click="pull(project)">Pull</button>
                <button class="btn btn-info" ng-click="push(project)">Push</button>
                <button class="btn btn-default" ng-click="addFile(project)">Add new files</button>
            </div>
            <table class="table table-files">
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Progress</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="source in project.sources">
                        <td>{{source.file_path}}</td>
                        <td>
                            <div class="progress-container">
                                <div class="progress">
                                    <div class="bar" style="width: <%= get_percentage(source[:translated_strings], source[:total_strings])"></div>
                                </div>
                            </div>
                        </td>
                        <td class="cell-link">
                            <button class="btn btn-default" ng-click="pull(project)">
                                <i class="icon-remove"></i> Delete
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
</tabset>