/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Compass imports */
/* Project imports */
/*
 * Keep here default css for the site theme
 */
/* line 5, ../sass/main/_General.scss */
.right-buttons-header {
  float: right;
}

/* line 9, ../sass/main/_General.scss */
.right-buttons {
  text-align: right;
}

/* line 13, ../sass/main/_General.scss */
.row div {
  display: inline-block;
}

/* line 18, ../sass/main/_General.scss */
ul.nav-tabs {
  margin-bottom: 15px;
}

/*
 * Keep here the css for the project list page
 */
/* line 11, ../sass/main/_Projects.scss */
.row div.project-name {
  width: 200px;
}
/* line 14, ../sass/main/_Projects.scss */
.row div.project-admin {
  width: 200px;
}
/* line 17, ../sass/main/_Projects.scss */
.row div.project-progress {
  width: 200px;
  vertical-align: top;
}
/* line 20, ../sass/main/_Projects.scss */
.row div.project-progress > div {
  width: inherit;
}

/* line 1, ../sass/main/_LoginSignin.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* line 6, ../sass/main/_LoginSignin.scss */
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
/* line 10, ../sass/main/_LoginSignin.scss */
.form-signin .checkbox {
  font-weight: normal;
}
/* line 14, ../sass/main/_LoginSignin.scss */
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../sass/main/_LoginSignin.scss */
.form-signin .form-control:focus {
  z-index: 2;
}
/* line 26, ../sass/main/_LoginSignin.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 32, ../sass/main/_LoginSignin.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 15, ../sass/screen.scss */
body {
  padding-top: 50px;
}
